:root {
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
    --grey-7: #333;
    --grey-8: #222;
    --grey-9: #000;
    --grey-1-a0: rgba(253, 253, 253, 0);
    --grey-1-a7: rgba(253, 253, 253, 0.7);
    --grey-1-a5: rgba(253, 253, 253, 0.5);
    --grey-1-a3: rgba(253, 253, 253, 0.3);
    --grey-9-a1: rgba(168, 166, 166, 0.1);
    --grey-9-a5: rgba(0, 0, 0, 0.5);
    --grey-2-a0: rgba(247, 247, 247, 0);
    --color-pink-light: #a9c9ff;
    --color-cyan-light: #ffbbec;
    --color-pink-light-old: #ffe6fa;
    --color-cyan-light-old: #e3fdf5;
    --color-purple: #ab66ff;
    --color-orange: #ef9024;
    --color-pink: #ab66ff;
    --color-red-old: #e9546b;
    --color-pink-old: #ed6ea0;
    --color-orange-old: #ec8c69;
    --color-yellow: #eab700;
    --color-green: #0a7426;
    --color-aqua: #3e999f;
    --color-aqua-old: #3e999f;
    --color-green-light: #28c76f;
    --color-blue: #74b6f7;
    --color-blue-old: #38a1db;
    --color-purple: #9d5b8b;
    --color-grey: #869194;
    --color-red-a1: rgba(171, 102, 255, 0.1);
    --color-red-a3: rgba(171, 102, 255, 0.3);
    --color-pink-a3: rgba(171, 102, 255, 0.3);
    --color-red-a1-old: rgba(233, 84, 107, 0.1);
    --color-red-a3-old: rgba(233, 84, 107, 0.3);
    --color-pink-a3-old: rgba(237, 110, 160, 0.3);
    --color-pink-light-a3: rgba(255, 230, 250, 0.3);
    --color-pink-light-a5: rgba(255, 230, 250, 0.5);
    --color-pink-light-a7: rgba(255, 230, 250, 0.7);
    --body-bg-shadow: var(--grey-2);
    --box-bg-shadow: var(--grey-9-a1);
    --text-color: var(--grey-5);
    --header-text-color: var(--grey-0);
    --primary-color: var(--color-red);
    --tags-background: #edf0f7;
    --juicecolor1: rgba(0, 0, 0, 0.05);
    --juicecolor2: #eef1f5;
    --blockloadcolor: rgba(0, 0, 0, 0.5);
    --nav-bg: linear-gradient(-225deg, var(--color-cyan-light) 0, var(--color-pink-light) 100%);
    --scrollbar-bg: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 25%,
            transparent 25%, transparent 50%,
            rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%,
            transparent 75%, transparent 100%);
    --scrollbar-color:#49b1f5;
}

[data-theme=dark]:root {
    --grey-0: #222;
    --grey-1: #21252b;
    --grey-2: #363636;
    --grey-3: #444;
    --grey-4: #666;
    --grey-5: #aaa;
    --grey-6: #ccc;
    --grey-7: #ddd;
    --grey-8: #eee;
    --grey-9: #f7f7f7;
    --grey-1-a7: rgba(34, 34, 34, 0.7);
    --grey-1-a5: rgba(34, 34, 34, 0.5);
    --grey-1-a3: rgba(34, 34, 34, 0.3);
    --grey-1-a0: rgba(34, 34, 34, 0);
    --grey-9-a1: rgba(51, 51, 51, 0.1);
    --grey-2-a0: rgba(54, 54, 54, 0);
    --color-pink-light: #322d31;
    --color-cyan-light: #2d3230;
    --color-red: rgba(188, 133, 255, 0.9);
    --color-pink: rgba(188, 133, 255, 0.8);
    --color-orange: rgba(144, 197, 249, 0.8);
    --color-yellow: #ffe175;
    --color-green: #86c59d;
    --color-aqua: #97d3d6;
    --color-blue: #8ee8b6;
    --color-purple: #cfacc5;
    --color-grey: #c3c8ca;
    --color-red-old: rgba(237, 118, 137, 0.9);
    --color-pink-old: rgba(241, 139, 179, 0.8);
    --color-orange-old: rgba(240, 163, 135, 0.8);
    --color-yellow-old: #ffe175;
    --color-green-old: #86c59d;
    --color-aqua-old: #97d3d6;
    --color-blue-old: #9cd0ed;
    --color-purple-old: #cfacc5;
    --color-grey-old: #c3c8ca;
    --body-bg-shadow: #000;
    --box-bg-shadow: #000;
    --text-color: var(--grey-5);
    --header-text-color: var(--grey-9);
    --tags-background: #30343f;
    --juicecolor1: #21252b;
    --juicecolor2: rgba(0, 0, 0, 0.05);
    --blockloadcolor: rgba(255, 255, 255, 0.5);
    --nav-bg: linear-gradient(-225deg, #2d3230 0, #322d31 100%);
    --scrollbar-bg:linear-gradient(45deg, var(--grey-1-a5) 25%, transparent 0, transparent 50%, var(--grey-1-a5) 0, var(--grey-1-a5) 75%, transparent 0, transparent);
    --scrollbar-color: var(--grey-3);
}